@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

:root {
  --marigold: #ffc001;

  --max-width: 1440px
}

html {
  color: white;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  background-color: black;
}

a {
  font-weight: 700;

}

button {
  cursor: pointer;
}